#form-post{
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 40%;
    width: 700px;
}

#choose-file{
    margin-top: 13px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

#label-image-preview{
    margin: 10px;
    font-size: 22px;
}

#image{
    width: 500px;
    height: 300px;
}

#image-preview{
    margin-left: -20%;
}

#go-back-button{
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 5px;
}

#form-type{
    font-size: 30px;
    margin-top: -60px;
    margin-left: -200px;
    width: 180px;
}

#text-post{
    border-radius: 8px;
    margin-left: -150px;
    font-size: 28px;
    text-indent: 5px;
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
}

#button-post-form{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 27px;
    padding: 3px;
    color: black;
    background-color: #ddd;
    transition: 0.5s;
}

#button-post-form:hover{
    font-size: 32px;
}
