ul{
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 2%;
    width: 90%;
}

#post-li{
    border-radius: 10px;
    background-color: white;
    width: 650px;
    margin: 10px;
}

.post-dropdown{
    /* position: fixed; */
    margin-left: -60px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90px;
    /* background-color: green; */
}

#all-posts{
    margin-top: 30px;
    margin-left: 34%;
}

#open-menu{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 50%;
    margin-top: -25px;
    height: 30px;
}

#elements-li{
    display: flex;
    justify-content: space-evenly;
}

#elements-post-index{
    margin-top: 150px;
}

#edit-post-button{
    font-size: 20px;
    width: 110px;
    font-family: cursive;
}

#remove-post-button{
    font-size: 20px;
    width: 130px;
    font-family: cursive;
    margin-right: 10px;
}

#post-content{
    margin-top: -10px;
    font-size: 25px;
    font-family: cursive;
}

#edit-label{
    width: 1px;
    height: 1px;
    background-color: green;
}

#owner-post{
    width: 300px;
    font-size: 28px;
    font-family: cursive;
    color: rgb(206, 85, 85);
    padding-top: 10px;
    padding-left: 15px;
}