ul{
    border-radius: 10px;
    margin-left: 4%;
    margin-top: 2%;
    width: 90%;
}

#post-li{
    border-radius: 10px;
    background-color: white;
    width: 650px;
    margin: 10px;
}

.post-dropdown{
    /* position: fixed; */
    margin-left: -60px;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 90px;
    /* background-color: green; */
}

#all-posts{
    margin-top: 30px;
    margin-left: 34%;
}

#open-menu{
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
}

#elements-li{
    display: flex;
    justify-content: space-evenly;
}

#elements-post-index{
    margin-top: 150px;
}

#edit-post-button{
    font-size: 20px;
    width: 110px;
    font-family: cursive;
}

#remove-post-button{
    font-size: 20px;
    width: 130px;
    font-family: cursive;
    margin-right: 10px;
}

#post-content{
    font-size: 25px;
    font-family: cursive;
}
