#likes-counter{
    font-size: 20px;
    margin-left: 15px;
}

#icon-like{
    font-size: 20px;
}

#like-label{
    margin-left: 10px;
    font-size: 25px;
}

#button-like-form{
    display: flex;
    margin-top: 8px;
    width: 105px;
    height: 30px;
    padding: 5px;
}