#name-game{
    font-family: cursive;
    font-size: 23px;
    margin-left: 27%;
}

#list-games{
    display: flex;
    justify-content: center;
}

#game-li{
    background-color: rgb(243, 243, 243);
}

#name-game:hover{
    color: black;
}

#img-game{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: 300px;
    height: 200px;
}