#user-options{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

#button-games{
    border-style: hidden;
    border-radius: 5px;
    margin-left: -200px;
    margin-top: 1%;
    height: 65px;
    background-color: white;
    transition: 0.5s;
}

#button-games:hover{
    background-color: #d4d4d4;
    transition: 0.5s;
}

#icon-button-games{
    font-size: 50px;
}