body{
    background-color: rgb(255, 244, 244);
}

#general{
    display: flex;
    justify-content: space-evenly;
    margin-top: 13vw;
}

#left h1{
    font-size: 70px;
    color: red;
}

#left label{
    font-size: 30px;
}

#form-left{
    font-family: 'Josefin Sans', sans-serif;
    border-style: hidden;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    background-color: rgb(69, 69, 69);
}

#rigth{
    background-color: white;
    border-style: hidden;
    border-radius: 10px;
}

#rigth > form{
    display: flex;
    flex-direction: column;
}

#email {
    margin: 10px;
}

#email > input{
    font-size: 40px;
}

#password > input{
    border-radius: 10px;
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#login-button{
    font-family: 'Josefin Sans', sans-serif;
    border-style: hidden;
    border-radius: 10px;
    font-size: 50px;
    width: 500px;
    margin-left: 13px;
    margin-bottom: 35px;
    background-color: red;
    color: white;
}
