#icon-search{
    font-size: 34px;
    margin-top: 1.5vw;
    margin-right: 10px;
}

#search-input{
    border: 2px solid black;
    border-radius: 5px;
    font-family: cursive;
    font-size: 30px;
    width: 350px;
}