ul{
    list-style: none;
}

li{
    list-style: none;
}

#li-index-navigation{
    margin-top: 0px;
}

#user-options{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
}

#user-button{
    margin: 10px;
    margin-top: 30px;
    margin-right: 50px;
    border: 2px solid black;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

#user-button:hover, #profile-button:hover, #logout-button:hover{
    background-color: rgb(255, 165, 165);
    transition: 0.5s;
}

#dropdown-profile{
    position: relative;
    display: inline-block;
}

#elements-profile-dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -5px;
    margin-left: -100px;
    padding: 5px;
    height: 82px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

#profile-button{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    font-family: cursive;
    transition: 0.5s;
}

#logout-button{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    font-family: cursive;
    margin-top: 5px;
    width: 150px;
    transition: 0.5s;
}

#link-main{
    margin: 10px;
    margin-top: 15px;
    margin-right: 50px;
    margin-left: 30px;
}

#img-bar{
    border: 2px solid rgb(102, 101, 101);
    border-radius: 100%;
}

.profile-dropdown{
    position: absolute;
    margin-bottom: 10px;
    width: 120px;
}

#container-search-main{
    display: flex;
}

#container-session-links{
    display: flex;
}