ul{
    list-style: none;
}

li{
    list-style: none;
}

#user-options{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#user-button{
    margin: 10px;
    border-radius: 6px;
    width: 50px;
    height: 50px;
}

#user-button:hover, #profile-button:hover, #logout-button:hover{
    background-color: rgb(255, 165, 165);
}

#user-button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 0px;
  padding-left: 50px;
  padding-bottom: 50px;
  margin-left: -8px !important;
  margin-top: -30px;
  opacity: 0;
  transition: all 0.8s
}

#user-button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

#profile-button{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    font-family: cursive;
    margin: 5px;
}

#logout-button{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
    font-family: cursive;
    margin: 5px;
    width: 150px;
    margin-left: -2vw;
}

#link-main{
    margin: 10px;
    margin-top: 15px;
}

img{
    border: 2px solid rgb(102, 101, 101);
    border-radius: 100%;
}

.profile-dropdown{
    margin-left: -1800px;
    /* background-color: greenyellow; */
    margin-top: 65px;
    margin-bottom: 10px;
    width: 120px;
}

#elements-profile-dropdown{
    /* background-color: blue; */
    width: 100px;
}
