ul{
    list-style: none;
}

li{
    list-style: none;
}

#user-options{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

#user-button{
    margin: 10px;
    border-radius: 6px;
    width: 50px;
    height: 50px;
}

#profile-button{
    border-style: hidden;
    border-radius: 5px;
    font-size: 25px;
    font-family: cursive;
    margin: 5px;
}

#logout-button{
    border-style: hidden;
    border-radius: 5px;
    font-size: 25px;
    font-family: cursive;
    margin: 5px;
    width: 110px;
}

#link-main{
    margin: 10px;
    margin-top: 15px;
}

img{
    border: 2px solid rgb(102, 101, 101);
    border-radius: 100%;
}

.profile-dropdown{
    margin-left: -1800px;
    /* background-color: greenyellow; */
    margin-top: 65px;
    margin-bottom: 10px;
    width: 120px;
}

#elements-profile-dropdown{
    /* background-color: blue; */
    width: 100px;
}
